.nav {
  background-color: blue;
  height: 50px;
}
.nav-text {
  position: absolute;
  margin: 10px;
  color: yellow;
  font-weight: 600;
}
.git-header {
  font-size: 40px;
}
.linkedin-header {
  font-size: 40px;
}
body {
    background-color: lightgray;
}


#flex-container{
  display:flex;
  justify-content:center;
  text-align:center;
}

#githubDetails{
  padding-right: 5%;
}
