.nav {
  background-color: blue;
  height: 50px;
}
.nav-text {
  position: absolute;
  margin: 10px;
  color: yellow;
  font-weight: 600;
}
.git-header {
  font-size: 40px;
}
.linkedin-header {
  font-size: 40px;
}
body {
    background-color: black;
}
*{
  color: white;
}
a{
  color: yellow;
}
a:hover{
  color: orangered;
  text-decoration: none;
}
.git-header:hover{
  font-size: 50px;
}
.linkedin-header:hover {
  font-size: 50px;
}
