nav {
  height: 80px !important;
}

.navbar{
  /* background-color: #F1F7FA !important;
  border-bottom: 2px solid #5b6987; */

  /*Changing the code so it switches with the slider*/
  background-color: var(--bg-color);
  color: var(--font-color);
  
}


.nav-text {
  color: #5b6987 !important;
  font-weight: 700;
  padding: 0 30px;
  text-transform: uppercase;
}

.nav-text:hover{
  color: #AE6B87 !important;
}

.search-btn {
  height: 38px;
}

.search-btn:hover{
  color:  #F1F7FA !important;
}

.navbar-brand{
  position: relative;
  left: 4%;
  padding: 10px;
}

.git-header {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.linkedin-header {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* commented this segment because I didn't change the working of the code 
  body {
    background-color: white;
} */


.fa
{
  font-size: 120px !important;
}
.fa-linkedin-square
{
  color: #007BB5;
}

.container-fluid
{
  margin-top: 100px !important;
}
.border
{
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-head h3
{
  margin-bottom: 50px;
}

.dark-mode {
  background-color: #181616;
  color: white;
}


:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  color: var(--secondary-color);

  /*other styles*/
}

a {
  color: var(--primary-color);
}

.theme-switch-wrapper{ 
  display: flex;
  align-items: center;
  float: right;
  margin-right: 7%;
  margin-top: 2%;

 
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}