nav {
  height: 130px !important;
  padding: 63px;
}

.navbar{
  padding: 0 578px 0 0;
  background-color: #F1F7FA !important;
  border-bottom: 2px solid #5b6987;
}
.git-header {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.linkedin-header {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
    background-color: white;
}


.fa
{
  font-size: 120px !important;
}
.fa-linkedin-square
{
  color: #007BB5;
}

.container-fluid
{
  margin-top: 100px !important;
}
.border
{
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-head h3
{
  /* margin-bottom: 50px; */
  margin-bottom: 99px;
  margin-top: -31px;
  color: #9C4486;
  font-size: 4.2em;
}
#github{
  background:#f1f7fa;
}
#linkdin{
  background:#f1f7fa;
}
#github:hover {
  transform: scale(1.1);
  z-index: 4;
  box-shadow: 0 6px 9px #444;
  color: #000;
}
#linkdin:hover {
  transform: scale(1.1);
  z-index: 4;
  box-shadow: 0 6px 9px #444;
  color: #000;
}
